body {
    font-family: Arial, sans-serif;
}

.card {
    border-radius: 10px;
}

.card-body {
    text-align: center;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
